.Header {
    display: flex;
    padding: 20px;
    margin: 20px;
    justify-content: space-between;
}
.logo {
    width: 100px;
}
.nav-bar-items {
    display: flex;
    font-size: 25px;
    list-style-type: none;
    margin: 10px;
}
.nav-bar-items > li {
    margin-right: 30px;
}
.search {
}
.res-card {
    margin: 10px 15px;
    height: 200px;
    width: 200px;
    border: 1px rgb(254, 254, 254) solid;
}
.food-card-logo {
    width: 200px;
    height: 100px;
    border-radius: 20px;
}
.restaurantContainer {
    display: flex;
    margin: 10px 20px;
    flex-wrap: wrap;
}
.restaurantName {
    font-size: 20px;
    font-weight: 700;
    padding: 5px 10px;
}
.ratings {
    padding: 5px;
    display: flex;
    font-size: 16px;
}
.ratingLogo {
    padding: 4px;
    width: 12px;
    height: 12px;
}
.cuisine {
    padding: 0px 10px;
    margin: 0 5px;
}